.mat-cell {
  font-size: 16px;
  padding-left: 10px;
  display: flex;
  justify-content: left;
}

.mat-header-cell {
  color: black;
  padding-left: 10px;
  background-color: rgb(63, 81, 181);
  font-size: 20px;
  display: flex;
  justify-content: left;
}

.cancel-button {
  width: 20%;
  text-align: center;
}

.buy-button {
  width: 20%;
  text-align: center;
  margin-left: 55%;
}

h2 {
  text-align: center;
}

.product-count {
  width: 20%;
}

.delete {
  position: relative;
    margin-right: 10px;
}
