<form class="reset-form" [formGroup]="resetForm">
  <div>
    <mat-icon class="icon" svgIcon="userIcon" aria-label="User icon"></mat-icon>
    <h2>Password assistance</h2>
    <p>Enter the email account associated with your account</p><br/>
  </div>
  <div class="input-form">
    <mat-form-field color="primary">
      <input matInput type="email" placeholder="Email" formControlName="email" required>
      <mat-error *ngIf="resetForm.get('email').hasError('email') || resetForm.get('email').touched">
        Please enter a valid email address
      </mat-error>
      <mat-error *ngIf="resetForm.get('email').hasError('required')">Email is required</mat-error>
    </mat-form-field><br>
  </div>
  <div class="input-form">
    <button class="button" color="primary" type="submit" [disabled]="!resetForm.get('email').valid" mat-raised-button
    (click)="resetPassword()">Continue</button>
  </div>
</form>
